<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>AlbumWeb</title>
</head>
<body>
    <h3>Witaj w AlbumWeb</h3>
    <nav>
        <ul>
            <li><a href="#">Baza albumów</a></li>
            <li><a href="#">Baza artystów</a></li>
            <li><a href="#">Rankingi</a></li>
            <li><a href="/registration">Zarejestruj się!</a></li>
        </ul>
    </nav>
</body>
</html>