<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>AlbumWeb</title>
</head>
<body>
<h3>Witaj w logowaniu</h3>
<nav>
    <ul>
        <li><a href="#">Baza albumów</a></li>
        <li><a href="#">Baza artystów</a></li>
        <li><a href="#">Rankingi</a></li>
        <li><a href="/registration">Zarejestruj się!</a></li>
        <li><a href="/login">Zaloguj się</a></li>
    </ul>
</nav>
    <div th:if="${error}">
        Logowanie nieudane. Sprawdź poprawność nazwy loginu i hasła
    </div>
    <h3>Jesteś nowy? <a href="/registration">Zarejestruj się!</a></h3>
<form th:action="@{/login}" method="post" id="loginForm">
    <label for="username">Login</label>
    <input type="text" id="username" name="username"/>
    <label for="password">Hasło</label>
    <input type="password" id="password" name="password"/>
    <input type="submit" value="Zaloguj się"/>
</form>
</body>
</html>