<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>AlbumWeb</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="#">Baza albumów</a></li>
        <li><a href="#">Baza artystów</a></li>
        <li><a href="#">Rankingi</a></li>
        <li><a href="/registration">Zarejestruj się!</a></li>
        <li><a href="/login">Zaloguj się</a></li>
    </ul>
</nav>
<h3>Zarejestruj się!</h3>
    <form th:action="@{/registration}" method="post" id="registerForm">
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="password">hasło</label>
            <input type="password" id="password" name="password"/>
            <input type="submit" value="Potwierdź!">
    </form>
</body>