<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>AlbumWeb</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="#">Baza albumów</a></li>
        <li><a href="#">Baza artystów</a></li>
        <li><a href="#">Rankingi</a></li>
    </ul>
</nav>
<h3>Zarejestruj się!</h3>
    <form action="#" th:action="@{/registration}" method="post" th:object="${userDTO}">
        <label>
            <input type="text" th:field="*{name}"/>
        </label>
    </form>
</body>